body {
    padding: 0;
    margin: 0px 200px;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
}

/* .presentation{
    background-image: url('../images/image\ 1.png');
    background-position: center;
} */

.presentation h1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    font-size: 64px;
    font-weight: bolder;
    color: white;
}

.presentation h2{
    box-shadow: 0px 0px 0px 0.2px;
    display: flex;
    justify-content: flex-start;
    width: 355px;
    height: 100px;
    align-items: center;
    border-radius: 10px;
    background: rgba(114, 153, 254, 0.1);
    padding: 10px;
    font-size: 40px;
    font-weight: bolder;
    margin: 200px 0px 0px 30px;
    color: white;

}

.text-container{
    padding-top: 10px;
    background-image: url('../images/image\ 1.png');
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 100px;
}

.about-my-container{
    background: #7299FE;
    padding-top: 20px;
}

.about-my-container h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
}

.about-my-container p{
    font-size: 14px;
    line-height: 20px;     /*DAR ESPACIOS ENTRE LINEAS*/
    color: white;
    margin: 20px;
}

.botton-cv{
    padding: 30px 20px;

}

.botton-cv button{
    font-size: 23px;
    font-weight: bolder;
    border-radius: 20px;
    border: 1px solid #D16FFF;
    background: #D16FFF;
    width: 180px;
    height: 60px;
    color: white;
}

.skills-container{
    background: #9122FF;
    padding-left: 20px;

}

.skills h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-transform: capitalize;
    padding: 30px;
    color: white;
}

.row{
    display: flex;
    padding: 30px 100px;

}

.row-container-skills{
    padding-left: 110px;

}

.figure-html{
    position: relative;
}

.figure-html .img-1{
    position: relative;
    z-index: 2;
    height: 20px;
    width: 320px;
}
.figure-html .img-2{
    position: relative;
    z-index: 3;
    top: -20px;
    height: 20px;
}
.figure-js{
    position: relative;
}

.figure-js .img-3{
    position: relative;
    z-index: 4;
    height: 20px;
    width: 320px;
}
.figure-js .img-4{
    position: relative;
    z-index: 5;
    top: -20px;
    height: 20px;
}

.figure-flexbox{
    position: relative;
}

.figure-fb .img-5{
    position: relative;
    z-index: 4;
    height: 20px;
    width: 320px;
}
.figure-fb .img-6{
    position: relative;
    z-index: 5;
    top: -20px;
    height: 20px;
}

.figure-css{
    position: relative;
}

.figure-css .img-7{
    position: relative;
    z-index: 4;
    height: 20px;
    width: 320px;
}
.figure-css .img-8{
    position: relative;
    z-index: 5;
    top: -20px;
    height: 20px;
    width: 185px;
}

.figure-vue{
    position: relative;
}

.figure-vue .img-9{
    position: relative;
    z-index: 4;
    height: 20px;
    width: 320px;
}
.figure-vue .img-10{
    position: relative;
    z-index: 5;
    top: -20px;
    height: 20px;
    width: 185px;
}

.figure-grid{
    position: relative;
}

.figure-grid .img-11{
    position: relative;
    z-index: 4;
    height: 20px;
    width: 320px;
}
.figure-grid .img-12{
    position: relative;
    z-index: 5;
    top: -20px;
    height: 20px;
    width: 185px;
}

.row p{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: lighter;
    color: white;
    text-transform: uppercase;
}

.portfolio{
    background: #FFD233;
}

.portfolio h1{
    font-size: 40px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
    padding: 40px;
}
.figures-portfolio{
    padding-top: 30px;
    padding-bottom: 100px;
}

.figures{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-h{
    margin: 5px;
}

.img-t{
    margin: 5px;
}

.img-m{
    margin: 5px;
}

.img-l{
    margin: 5px;
}

.container-images{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-13{
    margin: 5px;
}

.img-14{
    margin: 5px;

}

.img-15{
    margin: 5px;

}

.img-16{
    margin: 5px;

}

.people{
    background: #3F4E62;
    padding: 70px;
}

.people h1{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-transform: capitalize;
    color: white;
    margin-bottom: 30px;
}

.container-people{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-01{
    margin: 10px;
}

.img-02{
    margin: 10px;
}

.img-03{
    margin: 10px;
}

.img-04{
    margin: 10px;
}

.formulario{
    background: #1687a0;
}
.personal-information{
    padding: 20px;
}

.formulario h1 {
    margin: 30px;
    font-size: 40px;
    font-weight: bolder;
    font-family: arial;
    text-align: center;
    color: white;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

::-webkit-input-placeholder {
   font-family: Arial, Helvetica, sans-serif;
}


.container-names .name{
    margin: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
}


.container-names .lastname{
    margin: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
}

.container-data .email{
    margin: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
}

.container-data .phone{
    margin: 10px;
    width: 250px;
    height: 40px;
    padding: 5px 15px;
}

.container-information .description{
    margin: 10px;
    width: 561px;
    height: 100px;
    resize: none;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.botton{
    margin: 20px;
}

.botton button{
    padding: 15px 40px;
    text-transform: uppercase;
    background: #233451;
    border: 1px solid #233451;
    color: white;
}